<header>
    <div class="container">
        <div class="container-small">
            <a href="http://justjoo.co.kr" class="headA">MANJOO</a>
            <button type="button" class="headC" (click)="menuClick()">
                <span class="fa fa-bars" title="MENU"></span>
            </button>
        </div>
        <!-- <nav class="headB"> -->
        <nav class="headB" #headToggle>
            <ul>
                <li><a href="http://justjoo.co.kr">HOME</a></li>
                <li><a href="#">CONTENTS</a></li>
                <li><a href="#">소개</a></li>
                <li><a href="#">문의</a></li>
            </ul>
        </nav>
    </div>
</header>