@charset "UTF-8";

.filter {
    display: flex;
    align-items: center;
}

.filter .container {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    background-color: rgb(106,107,191);
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;

}

.contents {
    display: flex;
}

.contents .container {
    display: flex;
    flex-wrap: wrap;

}

.container .leftContanier {
    display: inline-block;
    flex: 0 0 30%;
    /* margin-top: 20px; */
    /* padding: 10px 30px; */
    /* border: solid 3px currentColor; */
    background-color: black;
    color: #fff;
    text-align: center;
    
}

.leftContanier .ingredient {
    width: 100%;
    height: 100%;
    
}

.container .rightContanier {
    display: inline-block;
    flex: 0 0 70%;
    background-color: green;
    color: #fff;
    text-align: center;
}

.rightContanier .fridge {
    width: 100%;
}

.rightContanier .table {
    width: 100%;
    /* background-color: white;
    color: black; */
}

.table {
    border: 4px solid #555555;
    background-color: #555555;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
  }
  .table td, table th {
    border: 1px solid #555555;
    padding: 5px 10px;
  }
  .table tbody td {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
  }
  .table td:nth-child(even) {
    background: #398AA4;
  }
  .table thead {
    background: #398AA4;
    border-bottom: 10px solid #398AA4;
  }
  .table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #398AA4;
  }
  .table thead th:first-child {
    border-left: none;
  }
  
  .table tfoot td {
    font-size: 13px;
  }
  .table tfoot .links {
    text-align: right;
  }
  .table tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
  }




