<div>
  <section class="filter">
    <div class="container">
      재료 필터<i class="fa fa-arrow-right"></i> 
      <input type="text">
    </div>
  </section>
  <section class="contents">
    <!-- ingredient[재료] -->
    <div class="container">
      <div class="leftContanier">
        <div>
          <label>재료 목록</label>
        </div>
        <div>
          <select class="ingredient" name='ingredient' size=6>
            <option value="oil">식용유</option>
            <option value="egg">달걀</option>
          </select>
        </div>
      </div>
      <div class="rightContanier">
        <div>
          <label>냉장고</label>
        </div>
        <div>
          <input class="fridge" type="text">
        </div>
        <div>
          <label>레시피 리스트</label>
        </div>
        <div>
          <table class="table">
            <tr>
              <td>계란 후라이</td>
            </tr>
            <tr>
              <td>계란 후라이</td>
            </tr>
            <tr>
                <td>계란 후라이</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>