<div>
  <section class="filter">
    <div class="container">
      재료 필터<i class="fa fa-arrow-right"></i> 
      <input type="text">
    </div>
  </section>
  <section class="contents">
    <!-- ingredient[재료] -->
    <div class="container">
      <div class="leftContanier">
        <div class="ingredientList">
          <select name='ingredient' size=6>
            <option value="oil">식용유</option>
            <option value="egg">달걀</option>
          </select>
        </div>
      </div>
      <div class="rightContanier">

      </div>
    </div>
  </section>
</div>