<div>
  <section class="filter">
    <div class="container">
      재료 필터<i class="fa fa-arrow-right"></i> 
      <input type="text" >
    </div>
  </section>
  <section class="contents">
    <!-- ingredient[재료] -->
    <div class="container">
      <div class="leftContanier">
        <div>
          <label>재료 목록</label>
        </div>
        <div>
          <select class="ingredient" [ngModel]="selectedIngredient" (ngModelChange)="fridgeListAdd($event)">
            <!-- <option value="none">==선택==</option> -->
            <option *ngFor="let item of ingredientList" (selected)="test($event)" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="rightContanier">
        <div>
          <label>냉장고</label>
        </div>
        <div>
          <input class="fridge" type="text" [(ngModel)]="fridgeList" value="'{{fridgeList}}'">
        </div>
        <div>
          <label>레시피 리스트</label>
        </div>
        <div>
          <table class="table">
            <tr *ngFor="let item of recipeList">
              <td>{{item}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <button type="button" (click)="test($event)">test</button>
</div>